body{
	padding:10px;
	min-width:450px;
	min-height:600px;
}

.dropdown-trigger{
	min-width:250px;
}

#dropdown-li-item{
	position: relative;
}

#delete-icon{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 19px;
	color: darkred;
}